<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="table-1">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#code-snippet" aria-expanded="true" aria-controls="code-snippet">
        <h4 class="panel-title">Simple Example <span class="code-icon fa fa-code pull-right"></span></h4>
      </a>
    </div>
    <div id="code-snippet" class="panel-collapse collapse" role="tabpanel" aria-labelledby="table-1">
      <div class="panel-body code-snippet">
       <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active"><a href="#component" aria-controls="component" role="tab" data-toggle="tab">component.js</a></li>
         <li role="presentation"><a href="#template" aria-controls="template" role="tab" data-toggle="tab">template.hbs</a></li>
         <li role="presentation"><a href="#user-avatar" aria-controls="user-avatar" role="tab" data-toggle="tab">user-avatar.hbs</a></li>
         <li role="presentation"><a href="#table-loader" aria-controls="table-loader" role="tab" data-toggle="tab">table-loader.hbs</a></li>
       </ul>
       <div class="tab-content">
         <div role="tabpanel" class="tab-pane fade in active" id="component">{{code-snippet name="simple-table.js"}}</div>
         <div role="tabpanel" class="tab-pane fade" id="template">{{code-snippet name="simple-table.hbs"}}</div>
         <div role="tabpanel" class="tab-pane fade" id="user-avatar">{{code-snippet name="user-avatar.hbs"}}</div>
         <div role="tabpanel" class="tab-pane fade" id="table-loader">{{code-snippet name="table-loader.hbs"}}</div>
       </div>
      </div>
    </div>
    <div class="panel-body table-container_no_overflow">
{{!-- BEGIN-SNIPPET simple-table --}}
{{#light-table table onScrolledToBottom=(action 'onScrolledToBottom') as |t|}}
  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
  }}

  {{#t.body canSelect=false rowStyleF=cssRowF as |body|}}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}
{{/light-table}}
{{!-- END-SNIPPET --}}
    </div>
  </div>
</div>